.terraform/
*/env.*
env.*
.idea
terraform.*
/Application-release-v1.10/flask-on-docker-nginx-gunicorn/.env.prod.db
/Application-release-v1.10/flask-on-docker-nginx-gunicorn/.env.prod
/Application-release-v1.10/flask-on-docker-nginx-gunicorn/.env.dev
/.terraform.tfstate.lock.info
hosts.txt
hosts
/ansible/play.yml-e
